.vscode
.idea
.DS_Store
*.esm.json
*.js
*.js.map
*.log
*.metadata.json

src/*.d.ts
!src/src/index.d.ts
src/src/android/*.d.ts
src/src/core/*.d.ts
src/src/base/*.d.ts
src/src/ios/*.d.ts
!src/vue/*.js
!src/async-await.js
!src/index.d.ts
!src/src/index.d.ts
!src/references.d.ts
!src/scripts/*.js
!seed-tests/*.js
seed-tests/seed-copy/**/*.*
seed-tests/seed-copy-new-git-repo/**/*.*
!demo/karma.conf.js
!demo/app/tests/*.js
demo/*.d.ts
!demo/references.d.ts
demo/lib
demo/platforms
node_modules
publish/src
publish/package
demo/report/report.html
demo/report/stats.json
!demo-server/app.js
package-lock.json

!demo/app/async-await.js
!demo-ng/app/async-await.js

demo-ng/node_modules
demo-ng/*.d.ts
demo-ng/references.d.ts
demo-ng/lib
demo-ng/platforms
demo-ng/report/report.html
demo-ng/report/stats.json

demo-vue/node_modules
demo-vue/lib
demo-vue/platforms
demo-vue/report/report.html
demo-vue/report/stats.json
demo-vue/hooks
!demo-vue/**/*.js
!demo-vue/types/*.d.ts
