<GridLayout id="body" rows="*,auto" columns="*">
  <AbsoluteLayout row="0" col="0">
    <WebRTCView #remoteVideo
      id="remoteVideo"
      (loaded)="videoLoaded($event)">
    </WebRTCView>
    <WebRTCView #localVideo
      id="localVideo"
      [height]="localVideoHeight"
      [width]="localVideoWidth"
      (loaded)="videoLoaded($event)">
    </WebRTCView>
  </AbsoluteLayout>
  <GridLayout
    verticalAlignment="center"
    horizontalAlignment="center"
    row="1"
    rows="auto,auto"
    columns="auto,auto">
      <Button row="0" col="0" text="Call" (tap)="makeCall()"></Button>
      <Button row="0" col="1" text="End" (tap)="endCall($event)"></Button>
      <Button row="1" col="0" text="Switch Camera" (tap)="switchCamera($event)"></Button>
      <Button row="1" col="1" text="Share Screen" (tap)="shareScreen($event)"></Button>
      <!-- <Button row="1" col="2" text="Mute"></Button> -->
  </GridLayout>
</GridLayout>